<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a 2023 graduate with a Dual Degree (B.Tech + M.Tech) from <a class="underline-link" href="http://www.iitkgp.ac.in/department/AI" target="_blank">Indian Institute of Techonology (IIT) Kharagpur.</a> and a specialisation in Artificial Intelligence and Machine Learning Applications.  
      I have always been interested in applications of data science which has led me to pursue internships, and do a few research projects in the past related to deep learning in the fields like agriculture, weather prediction, medical imaging, etc.
    <p>
      <strong>When I'm not in front of a computer screen</strong>, you can find me vibing to hiphop music, wandering around with my camera,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
